.card-list {
  background-size: cover;
  background-position: center;
  height: 150px;
  min-width: 100px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);

  a {
    color: $light-gray;
    text-decoration: none;
  }
}
